
html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  font-family: "Fira Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0 0 90px;
  background-color: #f2f2f2;
}

.ad-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
}

.ad-footer2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 108px;
  width: 100%;
}

a,
a:hover,
a:visited,
a:link {
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}

input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.view {
  display: none;
}

.initial {
  display: block;
}

.row {
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.main-wrapper {
  background: #f2f2f2;
  margin:0 auto;
  max-width:960px;
  position:relative;
}

.header {
  font-family: "Fira Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.header .navbar-header,
.header .navbar-nav {
  margin: 0;
  background-color: #1b8889;
}

.header .navbar-header .navbar-brand,
.header .navbar-nav .navbar-brand {
  color: #fff;
}

.header .nav > li > a {
  color: #fff !important;
}

.header .navbar {
  margin-bottom: 0;
}

.header .navbar-default {
  border: 0;
  border-bottom: 1px solid #efefef;
}

.header .navbar-brand {
  padding: 10px 0 10px 20px;
}

.header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.header .navbar-default .navbar-toggle {
  background-color: #1b8889 !important;
}

.item {
  margin-top: 0%;
  padding: 0 !important;
}

.item h1, .item h2, .item h3, .item h4, .item h5, .item h6 {
  font-family: "Fira Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.item p {
  font-family: "Fira Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.item .item-inner {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
}

.item .item-inner .item-header {
  text-transform: lowercase;
  background-color: #f0bb1a;
  padding: .5em;
  color: #fff;
}

.item .item-inner .item-detail {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  min-height: 300px;
}

.item .item-inner .item-detail .item-detail-contents {
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

.item .item-inner .item-more {
  display: block;
}

.item .item-inner .item-more p, .item .item-inner .item-more i {
  display: inline-block;
  color: #1b8889;
}

.item .item-inner .item-more i {
  padding: 10px;
}

.ad-container .ad-contents {
  padding: 0;
  background-color: #f2f2f2;
}

.ad-container .ad-contents img {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: absolute; 
}

.btn {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.page.my-account .item-inner .item-detail .hero {
  padding: 15% 0 10%;
}

.page.my-account .item-inner .item-detail .stats {
  padding: 5% 0;
}

.page.my-account .item-inner .item-detail .points {
  font-size: 6em;
  margin: 0;
}

.page.my-account .item-inner .item-detail .user-stat {
  font-size: 2.5em;
  margin: 0;
}

.page.my-account .item-inner .item-detail .basic-navigation {
  width: 90%;
  margin: auto;
  padding: 5% 0 10%;
}

.page.my-account .item-inner .item-detail .basic-navigation h4 {
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
}

.page.my-account .item-inner .item-detail .basic-navigation img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.page.my-account .item-inner .item-detail .basic-navigation .needed-now {
  color: #4a8a1d;
}

.page.my-account .item-inner .item-detail .basic-navigation .shop-appetite {
  color: #f0bb1a;
}

.page.my-account .item-inner .item-detail .basic-navigation .messages {
  color: #6ec0c4;
}

.page.login {
  margin-bottom: 0;
}

.page.login .main-wrapper,
.page.login .view-container {
  min-height: 100vh;
}

.page.login .view[data-view="1"] .view-container,
.page.login .view[data-view="2"] .view-container,
.page.login .view[data-view="4"] .view-container {
  background: -webkit-linear-gradient(top, white 50%, rgba(255, 255, 255, 0)), url("../images/welcome-bg.jpg") no-repeat;  /* chrome */
  background: -webkit-linear-gradient(top, white 50%, rgba(255, 255, 255, 0)), url("../images/welcome-bg.jpg") no-repeat;  /* safari  */
  background: -moz-linear-gradient(top, white 50%, rgba(255, 255, 255, 0)), url("../images/welcome-bg.jpg") no-repeat;     /* firefox  */
  background: -o-linear-gradient(top, white 50%, rgba(255, 255, 255, 0)), url("../images/welcome-bg.jpg") no-repeat;       /* opera  */
  background: linear-gradient(top, white 50%, rgba(255, 255, 255, 0)), url("../images/welcome-bg.jpg") no-repeat;          /* Standard syntax */
  
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.page.login .view[data-view="3"] .view-container {
  background-color: #1b8889 !important;
}

.page.login .logo-container {
  padding: 5% 10% 5%;
}

.page.login .logo-container .logo-inner img {
  width: 100%;
  max-width: 350px;
}

.page.login .welcome-container .welcome-inner p {
  font-weight: 100;
  color: #1b8889;
}

.page.login .redeem-container .redeem-inner p {
  font-weight: 100;
  color: #FFF;
}

.page.login .input-container .input-inner {
  /* margin: 0 0 5%;  */
}

.page.login .input-container .input-inner input {
  width: 100%;
  padding: 5px;
  text-align: left;
  color: #1b8889;
  margin: 2px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.fld_desc {
  width: 100%;
  padding: 5px;
  text-align: left;
  color: #1b8889;
  margin: 2px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.fld_select {
  margin-top: 5px;
  padding-top: 5px;
  color: #1b8889;
}


.page.login .input-container .input-inner input::-webkit-input-placeholder {
  /* text-transform: uppercase; */
}

.page.login .input-container .input-inner input::-moz-placeholder {
  /* text-transform: uppercase; */
}

.page.login .input-container .input-inner input:-moz-placeholder {
  /* text-transform: uppercase; */
}

.page.login .input-container .input-inner input:-ms-input-placeholder {
  /* text-transform: uppercase; */
}

.page.login .input-container .input-inner input[name="signup_code"] {
  letter-spacing: 5px;
  text-align: center;
}

.page.login .button-container .button-inner button {
  width: 100% !important;
  display: block;
  border-radius: 0;
  margin: 0% 0 2%;
  padding: 10px 0;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

.page.login .button-container .button-inner :hover {
  cursor: pointer;
}

.page.login .button-container .button-inner .btn-signup {
  background-color: #1b8889;
  color: #fff;
}

.page.login .button-container .button-inner .btn-signin {
  background-color: #fff;
  color: #1b8889;
}

.page.login .button-container .button-inner .btn-cancel {
  background-color: #fff;
  color: #aaa;
}

.page.login .button-container .button-inner .btn-redeem {
  background-color: #f0bb1a;
  color: #fff;
}

.page.login .button-container .button-inner .btn-skip {
  background-color: #1b8889;
  color: #fff;
}

.page.needed-now .view[data-view="4"] .view-container {
  background-color: #4a8a1d;
  padding-bottom: 40px;
}

.page.needed-now .item-inner .item-header {
  background-color: #4a8a1d;
}

.page.needed-now .item-inner .item-detail {
  margin: 0px 0 5px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.page.needed-now .item-inner .item-detail .item-detail-contents:first-child {
  margin-left: 10%;
}

.page.needed-now .item-inner .item-detail .item-detail-contents:last-child {
  margin-right: 25%;
}

.page.needed-now .item-inner .item-detail .item-detail-contents {
  min-height: 280px;
  min-width: 260px;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container {
  background-color: #fff;
  margin: 15px;
  display: inline-block;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner button.btn,
.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner span.btn-item-amount {
  background-color: #ccc;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  color: #fff;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner span.btn-item-amount {
  min-width: 60px;
  border-radius: 30px;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-top {
  margin-top: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-top .points-hex-container .points-hex {
  max-width: 20%;
  background: url("../images/points-bg-hex.png");
  background: url("../images/points-bg-hex.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-top .points-hex-container .points-hex p {
  margin: auto;
  color: #fff;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-top .points-hex-container .points-hex-desc {
  color: #4a8a1d;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-middle {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  max-height: 25vh;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-middle img {
  max-height: 100px;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-middle .col-xs-2 {
  padding: 0;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-bottom span {
  margin-top: 5px;
}

.page.needed-now .item-inner .item-detail .item-detail-contents .needed-item-container .needed-item-inner .needed-item-bottom p.needed-now-item-cost {
  padding: 5px 0;
  font-size: 1.3em;
}

.page.needed-now .total-container {
  margin-bottom: 30px;
}

.page.needed-now .total,
.page.needed-now .btn-checkout {
  padding: 7px 10px;
  border-radius: 50px;
  font-size: 1.5em;
}

.page.needed-now .btn-checkout {
  color: #fff;
  background-color: #4a8a1d;
}

.page.needed-now .receipt-container {
  /*  background-color: #4a8a1d;  */
  padding-bottom: 10px;
}

.page.needed-now .receipt-container .receipt-wrapper {
  width: 96%;
  margin: auto;
}

.page.needed-now .receipt-container .receipt-wrapper .cart-list-wrapper {
  min-height: 200px;
}

.page.needed-now .receipt-container .receipt-wrapper .cart-list-wrapper .quantity-wrapper p,
.page.needed-now .receipt-container .receipt-wrapper .cart-list-wrapper .cost-wrapper p {
  font-size: 1.0em;
}

.page.needed-now .receipt-container .receipt-wrapper h1, .page.needed-now .receipt-container .receipt-wrapper h2, .page.needed-now .receipt-container .receipt-wrapper h3, .page.needed-now .receipt-container .receipt-wrapper h4, .page.needed-now .receipt-container .receipt-wrapper h5, .page.needed-now .receipt-container .receipt-wrapper h6, .page.needed-now .receipt-container .receipt-wrapper p, .page.needed-now .receipt-container .receipt-wrapper i {
  /* color: #fff;  */
  color: #000;
}

.page.needed-now .receipt-container .receipt-wrapper .receipt-header {
  padding: 10px 0;
}

.page.needed-now .receipt-container .receipt-wrapper .row.item-row:last-of-type {
  margin-bottom: 20px;
}

.page.needed-now .receipt-container .receipt-wrapper .receipt-total-container {
  padding: 20px 0;
}

.page.needed-now .receipt-container .receipt-wrapper .receipt-tagline-container {
  padding: 5px 0;
}

.page.needed-now .receipt-container .receipt-wrapper .receipt-tagline-container .receipt-tagline {
  margin: 0 auto;
}

.page.needed-now .receipt-container .receipt-wrapper .receipt-tagline-container .receipt-tagline p {
  font-size: .7em;
}

.page.needed-now .bottom-container {
  background-color: #ddd;
}

.page.needed-now .bottom-container .checkout-button-container {
  padding: 40px 0;
}

.page.needed-now .bottom-container .checkout-button-container .btn-checkout {
  padding: 10px 20px;
  font-size: 1.5em;
}

.page.needed-now .input-container .input-inner {
  /* margin: 10% 0 5%; */
}

.page.needed-now .input-container .input-inner input {
  width: 100%;
  padding: 2px;
  text-align: left;
  color: #1b8889;
  margin: 2px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.page.needed-now .input-container .input-inner input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.page.needed-now .input-container .input-inner input::-moz-placeholder {
  text-transform: uppercase;
}

.page.needed-now .input-container .input-inner input:-moz-placeholder {
  text-transform: uppercase;
}

.page.needed-now .input-container .input-inner input:-ms-input-placeholder {
  text-transform: uppercase;
}

.page.needed-now .input-container .input-inner input[name="signup_code"] {
  letter-spacing: 5px;
  text-align: center;
}

.page.needed-now .button-container .button-inner button {
  width: 100% !important;
  display: block;
  border-radius: 0;
  margin: 0% 0 2%;
  padding: 10px 0;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

.page.needed-now .button-container .button-inner :hover {
  cursor: pointer;
}

.page.needed-now .button-container .button-inner .btn-signup {
  background-color: #1b8889;
  color: #fff;
}

.page.needed-now .button-container .button-inner .btn-signin {
  background-color: #fff;
  color: #1b8889;
}

.page.needed-now .button-container .button-inner .btn-cancel {
  background-color: #fff;
  color: #aaa;
}

.page.needed-now .button-container .button-inner .btn-redeem {
  background-color: #f0bb1a;
  color: #fff;
}

.page.needed-now .button-container .button-inner .btn-skip {
  background-color: #1b8889;
  color: #fff;
}

.page.needed-now .card-container {
  padding-bottom: 20px;
}

.page.needed-now .card-container h3 {
  padding: 20px 0;
  margin: auto;
  color: #1b8889;
}

.page.needed-now .link-button-container {
  padding: 0 0 20px;
}


.page.needed-now .link-button-container .link_button {
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  min-width: 125px;
  background-color: #f0bb1a;
  display: inline-block;
  margin: 5px;
}


.page.needed-now .view[data-view="4"] .receipt-header {
  padding: 20px 0 0;
}

.page.needed-now .receipt-points {
  margin-top: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.needed-now .receipt-points .points-hex-container {
  padding: 40px 0;
}

.page.needed-now .receipt-points .points-hex-container .points-hex {
  max-width: 40%;
  background: url("../images/points-bg-hex-o.png");
  background: url("../images/points-bg-hex-o.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 128px;
  width: 128px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.needed-now .receipt-points .points-hex-container .points-hex p {
  margin: auto;
  color: #fff;
  font-size: 2.5em;
}

.page.needed-now .receipt-points .points-hex-container .points-hex-desc {
  color: #fff;
  margin: 0;
  padding: 0;
}

.page.needed-now .btn-shop,
.page.needed-now .btn-tax {
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  min-width: 125px;
}

.page.needed-now .btn-shop {
  background-color: #f0bb1a;
}

.page.needed-now .btn-tax {
  border: 1px solid #fff;
  background-color: transparent;
}

.page.shop .redeem .view-container {
  background-color: #f0bb1a;
}

.page.shop .input-container .input-inner,
.page.shop .directory-input-container .input-inner {
  margin: 5% 0 5%;
}

.page.shop .input-container .input-inner input,
.page.shop .directory-input-container .input-inner input {
  width: 80%;
  padding: 10px;
  text-align: left;
  color: #f0bb1a;
  margin: 2px 0;
  border-radius: 50px;
  border: 1px solid #f0bb1a;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.page.shop .input-container .input-inner input::-webkit-input-placeholder,
.page.shop .directory-input-container .input-inner input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.page.shop .input-container .input-inner input::-moz-placeholder,
.page.shop .directory-input-container .input-inner input::-moz-placeholder {
  text-transform: uppercase;
}

.page.shop .input-container .input-inner input:-moz-placeholder,
.page.shop .directory-input-container .input-inner input:-moz-placeholder {
  text-transform: uppercase;
}

.page.shop .input-container .input-inner input:-ms-input-placeholder,
.page.shop .directory-input-container .input-inner input:-ms-input-placeholder {
  text-transform: uppercase;
}

.page.shop .directory-input-container .input-inner input {
  border: 1px solid #1b8889;
  color: #1b8889;
}

.page.shop .directory-item-container,
.page.shop .directory-button-container,
.page.shop .contact-button-container,
.page.shop .contact-address-container,
.page.shop .contact-options-container {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px 0;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.page.shop .directory-item-container .directory-item-inner,
.page.shop .directory-item-container .directory-button-inner,
.page.shop .directory-item-container .contact-button-inner,
.page.shop .directory-button-container .directory-item-inner,
.page.shop .directory-button-container .directory-button-inner,
.page.shop .directory-button-container .contact-button-inner,
.page.shop .contact-button-container .directory-item-inner,
.page.shop .contact-button-container .directory-button-inner,
.page.shop .contact-button-container .contact-button-inner,
.page.shop .contact-address-container .directory-item-inner,
.page.shop .contact-address-container .directory-button-inner,
.page.shop .contact-address-container .contact-button-inner,
.page.shop .contact-options-container .directory-item-inner,
.page.shop .contact-options-container .directory-button-inner,
.page.shop .contact-options-container .contact-button-inner {
  color: #a3a3a3;
}

.page.shop .directory-item-container .directory-item-inner i,
.page.shop .directory-item-container .directory-button-inner i,
.page.shop .directory-item-container .contact-button-inner i,
.page.shop .directory-button-container .directory-item-inner i,
.page.shop .directory-button-container .directory-button-inner i,
.page.shop .directory-button-container .contact-button-inner i,
.page.shop .contact-button-container .directory-item-inner i,
.page.shop .contact-button-container .directory-button-inner i,
.page.shop .contact-button-container .contact-button-inner i,
.page.shop .contact-address-container .directory-item-inner i,
.page.shop .contact-address-container .directory-button-inner i,
.page.shop .contact-address-container .contact-button-inner i,
.page.shop .contact-options-container .directory-item-inner i,
.page.shop .contact-options-container .directory-button-inner i,
.page.shop .contact-options-container .contact-button-inner i {
  padding: 10px 5px;
}

.page.shop .directory-item-container .contact-address-inner,
.page.shop .directory-button-container .contact-address-inner,
.page.shop .contact-button-container .contact-address-inner,
.page.shop .contact-address-container .contact-address-inner,
.page.shop .contact-options-container .contact-address-inner {
  color: #1b8889;
}

.page.shop .contact-options-container {
  margin: 0 0 10px;
}

.page.shop .contact-options-container .contact-option-container {
  margin: 10px 0;
  box-shadow: none;
}

.page.shop .contact-options-container .contact-option-container i {
  color: #1b8889;
}

.page.shop .address-container {
  color: #1b8889;
  margin-top: 10px;
}

.page.shop .map-container {
  width: 100%;
}

.page.shop .map-container img {
  max-width: 100%;
}

.page.shop .products-container {
  width: 100%;
  font-size: 0em;
  height: 300px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.page.shop .product-wrapper {
  position: relative;
  width: 50%;
  display: inline-block;
  min-height: 150px;
  font-size: 16px;
  overflow: hidden;
}

.page.shop .product-wrapper .background-wrapper {
  position: absolute;
  top: 0;
  z-index: 0;
}

.page.shop .product-wrapper img {
  max-width: 100%;
}

.page.shop .product-wrapper .product-top {
  margin-top: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.shop .product-wrapper .product-top .points-hex-container .points-hex {
  max-width: 30%;
  background: url("../images/points-bg-hex-o.png");
  background: url("../images/points-bg-hex-o.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.shop .product-wrapper .product-top .points-hex-container .points-hex p {
  margin: auto;
  color: #fff;
  font-size: .7em;
}

.page.shop .product-wrapper .product-top .points-hex-container .points-hex-desc {
  color: #4a8a1d;
}

.page.shop .product-wrapper .product-middle {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.shop .product-wrapper .product-middle img {
  max-height: 100px;
}

.page.shop .product-wrapper .product-middle .col-xs-2 {
  padding: 0;
}

.page.shop .product-wrapper .product-bottom span {
  margin-top: 5px;
}

.page.shop .product-wrapper .product-bottom p {
  padding: 5px 0;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.page.shop .pre-redeem-header-container .background-wrapper,
.page.shop .business-header-container .background-wrapper {
  height: 200px;
  overflow: hidden;
}

.page.shop .pre-redeem-header-container .background-wrapper img,
.page.shop .business-header-container .background-wrapper img {
  width: 100%;
}

.page.shop .pre-redeem-title-container .business-category,
.page.shop .pre-redeem-info-container .business-description,
.page.shop .redeem-slip-container .business-category,
.page.shop .redeem-slip-container .business-description,
.page.shop .business-title-container .business-category,
.page.shop .business-title-container .business-description,
.page.shop .business-info-container .business-description {
  font-weight: normal;
  color: #a3a3a3;
}

.page.shop .pre-redeem-title-container .business-category {
  margin-top: -5px;
  margin-bottom: 10px;
}

.page.shop .pre-redeem-redemption-container,
.page.shop .redeem-redemption-container,
.page.shop .business-links-container,
.page.shop .contact-business-links-container {
  margin-bottom: 20px;
}

.page.shop .pre-redeem-redemption-container .product-value,
.page.shop .redeem-redemption-container .product-value,
.page.shop .business-links-container .product-value,
.page.shop .contact-business-links-container .product-value {
  color: #1b8889;
  margin-bottom: 20px;
}

.page.shop .pre-redeem-redemption-container .btn-redeem,
.page.shop .pre-redeem-redemption-container .btn-shop-link,
.page.shop .redeem-redemption-container .btn-redeem,
.page.shop .redeem-redemption-container .btn-shop-link,
.page.shop .business-links-container .btn-redeem,
.page.shop .business-links-container .btn-shop-link,
.page.shop .contact-business-links-container .btn-redeem,
.page.shop .contact-business-links-container .btn-shop-link
{
  padding: 5px 5px;
  border-radius: 50px;
  color: #fff;
  min-width: 80px;
  background-color: #1b8889;
  display: inline-block;
  margin: 3px;
  font-size:12px !important;
}

.page.shop .pre-redeem-redemption-container img,
.page.shop .redeem-redemption-container img,
.page.shop .business-links-container img,
.page.shop .contact-business-links-container img {
  max-width: 100%;
}

.page.shop .contact-business-links-container {
  margin: 10px 0;
}

.page.shop .redeem-header-container .logo-shop-wrapper,
.page.shop .redeem-header-container .business-logo-wrapper,
.page.shop .business-logo-container .logo-shop-wrapper,
.page.shop .business-logo-container .business-logo-wrapper {
  padding: 40px 0 10px;
}

.page.shop .redeem-header-container .logo-shop-wrapper img,
.page.shop .redeem-header-container .business-logo-wrapper img,
.page.shop .business-logo-container .logo-shop-wrapper img,
.page.shop .business-logo-container .business-logo-wrapper img {
  width: 50%;
}

.page.shop .redeem-slip-container {
  width: 90%;
  background: #fff;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 40px auto;
}

.page.shop .redeem-info-container .business-description {
  margin: 0 auto;
  width: 90%;
  color: #fff;
  text-align: justify;
  padding: 20px 0;
}

.page.shop .directory-header-container {
  padding: 10px 0 0;
  color: #1b8889;
}

.page.shop .directory-input-container .input-inner {
  margin: 6px 0;
}

.page.shop .directory-list {
  padding: 10px 0 20px;
}

.page.shop .directory-list .directory-item-container .directory-item-inner .business-info {
  padding: 10px 5px;
}

.page.shop .directory-list .directory-item-container .directory-item-inner .business-info h4 {
  color: #333;
}

.page.shop .directory-list .directory-item-container .directory-item-inner .business-logo-container .business-logo-wrapper {
  padding: 0;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.shop .directory-list .directory-item-container .directory-item-inner .business-logo-container .business-logo-wrapper img {
  width: 90%;
}

.page.faq-terms .info-header-container  {
  padding: .5em;
  color: #ffffff;
  background-color: #6ec0c4;
}  

.page.faq-terms .logo-shop-wrapper {
  padding: 5px 0 5px;
}

.page.faq-terms .info-header-container .logo-shop-wrapper img {
  width: 50%;
}

.page.faq-terms .title-container {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px 10px;
}

.page.faq-terms .title-container h2 {
  margin: 0;
}

.page.faq-terms .info-container {
  padding: 10px;
}

.page.faq-terms .info-container .info-wrapper {
  background-color: #fff;
}

.page.faq-terms .info-container .info-wrapper .info-inner ul.table {
  list-style: none;
}

.page.faq-terms .info-container .info-wrapper .info-inner ul.table li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.page.faq-terms .info-container .info-wrapper .info-inner section {
  margin: 30px 0;
}

.page.faq-terms .info-container .info-wrapper .info-inner section h1, .page.faq-terms .info-container .info-wrapper .info-inner section h2, .page.faq-terms .info-container .info-wrapper .info-inner section h3, .page.faq-terms .info-container .info-wrapper .info-inner section h4, .page.faq-terms .info-container .info-wrapper .info-inner section h5, .page.faq-terms .info-container .info-wrapper .info-inner section h6 {
  color: #333;
  text-transform: lowercase;
}

.page.faq-terms .info-container .info-wrapper .info-inner section a {
  color: #1b8889;
}

.page.events-messages .message-item-container,
.page.events-messages .event-item-container {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px 0;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.page.events-messages .message-item-container .message-item-inner,
.page.events-messages .message-item-container .event-item-inner,
.page.events-messages .event-item-container .message-item-inner,
.page.events-messages .event-item-container .event-item-inner {
  color: #a3a3a3;
}

.page.events-messages .message-item-container .message-item-inner i,
.page.events-messages .message-item-container .event-item-inner i,
.page.events-messages .event-item-container .message-item-inner i,
.page.events-messages .event-item-container .event-item-inner i {
  padding: 10px 5px;
  color: #1b8889;
}

.page.events-messages .message-header-container .background-wrapper,
.page.events-messages .event-header-container .background-wrapper {
  height: 200px;
  overflow: hidden;
}

.page.events-messages .message-header-container .background-wrapper img,
.page.events-messages .event-header-container .background-wrapper img {
  width: 100%;
}

.page.events-messages .pre-redeem-title-container .business-category,
.page.events-messages .pre-redeem-info-container .business-description,
.page.events-messages .redeem-slip-container .business-category,
.page.events-messages .redeem-slip-container .business-description,
.page.events-messages .business-title-container .business-category,
.page.events-messages .business-title-container .business-description,
.page.events-messages .business-info-container .business-description {
  font-weight: normal;
  color: #a3a3a3;
}

.page.events-messages .icon-container .icon-wrapper,
.page.events-messages .icon-container .event-photo-wrapper,
.page.events-messages .event-photo-container .icon-wrapper,
.page.events-messages .event-photo-container .event-photo-wrapper {
  padding: 40px 0 10px;
}

.page.events-messages .icon-container .icon-wrapper i,
.page.events-messages .icon-container .event-photo-wrapper i,
.page.events-messages .event-photo-container .icon-wrapper i,
.page.events-messages .event-photo-container .event-photo-wrapper i {
  margin: auto;
}

.page.events-messages .icon-container .icon-wrapper img,
.page.events-messages .icon-container .event-photo-wrapper img,
.page.events-messages .event-photo-container .icon-wrapper img,
.page.events-messages .event-photo-container .event-photo-wrapper img {
  width: 100%;
}

.page.events-messages .messages-header-container,
.page.events-messages .events-header-container {
  /* padding: 30px 0 0;
  color: #1b8889; */
  padding: .5em;
  color: #ffffff;
  background-color: #6ec0c4;
}

.page.events-messages .message-list,
.page.events-messages .event-list {
  padding: 10px 0 20px;
}

.page.events-messages .message-list .message-item-container .message-item-inner .message-info h4,
.page.events-messages .message-list .message-item-container .message-item-inner .event-info h4,
.page.events-messages .message-list .message-item-container .event-item-inner .message-info h4,
.page.events-messages .message-list .message-item-container .event-item-inner .event-info h4,
.page.events-messages .message-list .event-item-container .message-item-inner .message-info h4,
.page.events-messages .message-list .event-item-container .message-item-inner .event-info h4,
.page.events-messages .message-list .event-item-container .event-item-inner .message-info h4,
.page.events-messages .message-list .event-item-container .event-item-inner .event-info h4,
.page.events-messages .event-list .message-item-container .message-item-inner .message-info h4,
.page.events-messages .event-list .message-item-container .message-item-inner .event-info h4,
.page.events-messages .event-list .message-item-container .event-item-inner .message-info h4,
.page.events-messages .event-list .message-item-container .event-item-inner .event-info h4,
.page.events-messages .event-list .event-item-container .message-item-inner .message-info h4,
.page.events-messages .event-list .event-item-container .message-item-inner .event-info h4,
.page.events-messages .event-list .event-item-container .event-item-inner .message-info h4,
.page.events-messages .event-list .event-item-container .event-item-inner .event-info h4 {
  color: #333;
}

.page.events-messages .message-list .message-item-container .message-item-inner .icon-container .icon-wrapper,
.page.events-messages .message-list .message-item-container .message-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .message-list .message-item-container .message-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .message-list .message-item-container .message-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .message-list .message-item-container .event-item-inner .icon-container .icon-wrapper,
.page.events-messages .message-list .message-item-container .event-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .message-list .message-item-container .event-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .message-list .message-item-container .event-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .message-list .event-item-container .message-item-inner .icon-container .icon-wrapper,
.page.events-messages .message-list .event-item-container .message-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .message-list .event-item-container .message-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .message-list .event-item-container .message-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .message-list .event-item-container .event-item-inner .icon-container .icon-wrapper,
.page.events-messages .message-list .event-item-container .event-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .message-list .event-item-container .event-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .message-list .event-item-container .event-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .event-list .message-item-container .message-item-inner .icon-container .icon-wrapper,
.page.events-messages .event-list .message-item-container .message-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .event-list .message-item-container .message-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .event-list .message-item-container .message-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .event-list .message-item-container .event-item-inner .icon-container .icon-wrapper,
.page.events-messages .event-list .message-item-container .event-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .event-list .message-item-container .event-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .event-list .message-item-container .event-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .event-list .event-item-container .message-item-inner .icon-container .icon-wrapper,
.page.events-messages .event-list .event-item-container .message-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .event-list .event-item-container .message-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .event-list .event-item-container .message-item-inner .event-photo-container .event-photo-wrapper,
.page.events-messages .event-list .event-item-container .event-item-inner .icon-container .icon-wrapper,
.page.events-messages .event-list .event-item-container .event-item-inner .icon-container .event-photo-wrapper,
.page.events-messages .event-list .event-item-container .event-item-inner .event-photo-container .icon-wrapper,
.page.events-messages .event-list .event-item-container .event-item-inner .event-photo-container .event-photo-wrapper {
  padding: 0;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.events-messages .message-list .message-item-container .message-item-inner .icon-container .icon-wrapper img,
.page.events-messages .message-list .message-item-container .message-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .message-list .message-item-container .message-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .message-list .message-item-container .message-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .message-list .message-item-container .event-item-inner .icon-container .icon-wrapper img,
.page.events-messages .message-list .message-item-container .event-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .message-list .message-item-container .event-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .message-list .message-item-container .event-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .message-list .event-item-container .message-item-inner .icon-container .icon-wrapper img,
.page.events-messages .message-list .event-item-container .message-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .message-list .event-item-container .message-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .message-list .event-item-container .message-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .message-list .event-item-container .event-item-inner .icon-container .icon-wrapper img,
.page.events-messages .message-list .event-item-container .event-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .message-list .event-item-container .event-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .message-list .event-item-container .event-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .event-list .message-item-container .message-item-inner .icon-container .icon-wrapper img,
.page.events-messages .event-list .message-item-container .message-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .event-list .message-item-container .message-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .event-list .message-item-container .message-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .event-list .message-item-container .event-item-inner .icon-container .icon-wrapper img,
.page.events-messages .event-list .message-item-container .event-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .event-list .message-item-container .event-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .event-list .message-item-container .event-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .event-list .event-item-container .message-item-inner .icon-container .icon-wrapper img,
.page.events-messages .event-list .event-item-container .message-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .event-list .event-item-container .message-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .event-list .event-item-container .message-item-inner .event-photo-container .event-photo-wrapper img,
.page.events-messages .event-list .event-item-container .event-item-inner .icon-container .icon-wrapper img,
.page.events-messages .event-list .event-item-container .event-item-inner .icon-container .event-photo-wrapper img,
.page.events-messages .event-list .event-item-container .event-item-inner .event-photo-container .icon-wrapper img,
.page.events-messages .event-list .event-item-container .event-item-inner .event-photo-container .event-photo-wrapper img {
  width: 90%;
}

.page.events-messages .back-wrapper {
  color: #1b8889;
}

.page.events-messages .message-container,
.page.events-messages .event-container {
  padding: 0 0 10px;
}

.page.events-messages .message-container .event-header-container,
.page.events-messages .event-container .event-header-container {
  padding: 0;
}

.page.events-messages .message-container .event-header-container .background-wrapper,
.page.events-messages .event-container .event-header-container .background-wrapper {
  max-width: 100%;
}

.page.events-messages .message-container .message-inner,
.page.events-messages .message-container .event-inner,
.page.events-messages .event-container .message-inner,
.page.events-messages .event-container .event-inner {
  padding: 10px;
  background-color: #fff;
}

.page.events-messages .message-container .message-inner img,
.page.events-messages .message-container .event-inner img,
.page.events-messages .event-container .message-inner img,
.page.events-messages .event-container .event-inner img {
  max-width: 100%;
  padding: 20px 0;
}

.page.events-messages .message-container .message-inner .message-date,
.page.events-messages .message-container .message-inner .event-date,
.page.events-messages .message-container .event-inner .message-date,
.page.events-messages .message-container .event-inner .event-date,
.page.events-messages .event-container .message-inner .message-date,
.page.events-messages .event-container .message-inner .event-date,
.page.events-messages .event-container .event-inner .message-date,
.page.events-messages .event-container .event-inner .event-date {
  color: #a3a3a3;
}

.page.give .give-header-container {
  padding: 30px 0 20px;
  color: #1b8889;
}

.page.give .give-title-container {
  padding: .5em;
  color: #ffffff;
  background-color: #4a8a1d;
}

.page.give .amount-box,
.page.give .schedule-box,
.page.give .disclaimer-box {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}

.page.give .amount-box .schedules-container .row .col-xs-6,
.page.give .amount-box .amounts-container .col-xs-3,
.page.give .schedule-box .schedules-container .row .col-xs-6,
.page.give .schedule-box .amounts-container .col-xs-3,
.page.give .disclaimer-box .schedules-container .row .col-xs-6,
.page.give .disclaimer-box .amounts-container .col-xs-3 {
  padding: 0;
}

.page.give .amount-box .box-title,
.page.give .schedule-box .box-title,
.page.give .disclaimer-box .box-title {
  color: #a3a3a3;
  font-weight: normal;
}

.page.give .amount-box .btn-amount,
.page.give .schedule-box .btn-amount,
.page.give .disclaimer-box .btn-amount {
  background-color: #fff;
  width: 100%;
  height: 50px;
  color: #a3a3a3;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}

.page.give .amount-box .active,
.page.give .schedule-box .active,
.page.give .disclaimer-box .active {
  background-color: #f0bb1a;
  color: #333;
  box-shadow: none;
}

.page.give .disclaimer-box p {
  color: #a3a3a3;
}

.page.give .button-container {
  padding: 0 0 20px;
}

.page.give .button-container .btn-give {
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  min-width: 125px;
  background-color: #f0bb1a;
  display: inline-block;
  margin: 5px;
}


.page.give .button-container .link_button {
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  min-width: 125px;
  background-color: #f0bb1a;
  display: inline-block;
  margin: 5px;
}

.page.give .thank-you-points-container {
  background-image: url("../images/points-bg-hex-teal.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  margin: 10px 0 20px;
}

.page.give .thank-you-points-container .row {
  padding: 40px 0;
}

.page.give .thank-you-points-container h2, .page.give .thank-you-points-container h3, .page.give .thank-you-points-container h4 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.page.food-bank .contact-button-container,
.page.food-bank .contact-address-container,
.page.food-bank .contact-options-container {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px 0;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.page.food-bank .contact-button-container .contact-button-inner,
.page.food-bank .contact-address-container .contact-button-inner,
.page.food-bank .contact-options-container .contact-button-inner {
  color: #a3a3a3;
}

.page.food-bank .contact-button-container .contact-button-inner i,
.page.food-bank .contact-address-container .contact-button-inner i,
.page.food-bank .contact-options-container .contact-button-inner i {
  padding: 10px 5px;
}

.page.food-bank .contact-button-container .contact-address-inner,
.page.food-bank .contact-address-container .contact-address-inner,
.page.food-bank .contact-options-container .contact-address-inner {
  color: #1b8889;
}

.page.food-bank .btn-shop-link {
  padding: 7px 10px;
  border-radius: 50px;
  color: #fff;
  min-width: 125px;
  background-color: #1b8889;
  display: inline-block;
  margin: 5px;
}

.page.food-bank .contact-options-container {
  margin: 0 0 10px;
}

.page.food-bank .contact-options-container .contact-option-container {
  margin: 10px 0;
  box-shadow: none;
}

.page.food-bank .contact-options-container .contact-option-container i {
  color: #1b8889;
}

.page.food-bank .address-container {
  color: #1b8889;
  margin-top: 10px;
}

.page.food-bank .map-container {
  width: 100%;
}

.page.food-bank .map-container img {
  max-width: 100%;
}

.page.food-bank .food-bank-header-container .background-wrapper {
  height: 200px;
  overflow: hidden;
}

.page.food-bank .food-bank-header-container .background-wrapper img {
  width: 100%;
}

.page.food-bank .food-bank-title-container .food-bank-category,
.page.food-bank .food-bank-title-container .food-bank-description,
.page.food-bank .food-bank-info-container .food-bank-description {
  font-weight: normal;
  color: #a3a3a3;
}

.page.food-bank .food-bank-links-container,
.page.food-bank .contact-food-bank-links-container {
  margin-bottom: 20px;
}

.page.food-bank .food-bank-links-container img,
.page.food-bank .contact-food-bank-links-container img {
  max-width: 100%;
}

.page.food-bank .contact-food-bank-links-container {
  margin: 10px 0;
}

.page.food-bank .my-food-bank-header-container {
  padding: .5em;
  color: #ffffff;
  background-color: #6ec0c4;
}

.page.food-bank .food-bank-logo-container .food-bank-logo-wrapper {
  padding: 40px 0 10px;
}

.page.food-bank .food-bank-logo-container .food-bank-logo-wrapper img {
  width: 80%;
}

.page.food-bank .description-container {
  padding: 20px 0 10px;
  margin: 10px;
  color: #a3a3a3;
  background-color: #fff;
}

.page.food-bank .description-container .rep-inner {
  background-color: #fff;
}

.page.food-bank .description-container .rep-inner .rep-position {
  font-weight: normal;
}

.page.food-bank .description-container .rep-inner img {
  max-width: 100%;
}

.page.food-bank .rep-container {
  background-color: #fff;
}

.page.food-bank .rep-container .message-item-inner,
.page.food-bank .rep-container .rep-inner {
  color: #a3a3a3;
}

.page.food-bank .rep-container .message-item-inner i,
.page.food-bank .rep-container .rep-inner i {
  padding: 10px 5px;
  color: #1b8889;
}

.page.food-bank .message-list,
.page.food-bank .rep-list {
  padding: 10px 0 20px;
}

.page.food-bank .message-list .message-item-container .message-item-inner .message-info h4,
.page.food-bank .message-list .message-item-container .message-item-inner .rep-info h4,
.page.food-bank .message-list .message-item-container .rep-inner .message-info h4,
.page.food-bank .message-list .message-item-container .rep-inner .rep-info h4,
.page.food-bank .message-list .rep-container .message-item-inner .message-info h4,
.page.food-bank .message-list .rep-container .message-item-inner .rep-info h4,
.page.food-bank .message-list .rep-container .rep-inner .message-info h4,
.page.food-bank .message-list .rep-container .rep-inner .rep-info h4,
.page.food-bank .rep-list .message-item-container .message-item-inner .message-info h4,
.page.food-bank .rep-list .message-item-container .message-item-inner .rep-info h4,
.page.food-bank .rep-list .message-item-container .rep-inner .message-info h4,
.page.food-bank .rep-list .message-item-container .rep-inner .rep-info h4,
.page.food-bank .rep-list .rep-container .message-item-inner .message-info h4,
.page.food-bank .rep-list .rep-container .message-item-inner .rep-info h4,
.page.food-bank .rep-list .rep-container .rep-inner .message-info h4,
.page.food-bank .rep-list .rep-container .rep-inner .rep-info h4 {
  color: #333;
}

.page.food-bank .message-list .message-item-container .message-item-inner .icon-container .icon-wrapper,
.page.food-bank .message-list .message-item-container .message-item-inner .icon-container .rep-photo-wrapper,
.page.food-bank .message-list .message-item-container .message-item-inner .rep-photo-container .icon-wrapper,
.page.food-bank .message-list .message-item-container .message-item-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .message-list .message-item-container .rep-inner .icon-container .icon-wrapper,
.page.food-bank .message-list .message-item-container .rep-inner .icon-container .rep-photo-wrapper,
.page.food-bank .message-list .message-item-container .rep-inner .rep-photo-container .icon-wrapper,
.page.food-bank .message-list .message-item-container .rep-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .message-list .rep-container .message-item-inner .icon-container .icon-wrapper,
.page.food-bank .message-list .rep-container .message-item-inner .icon-container .rep-photo-wrapper,
.page.food-bank .message-list .rep-container .message-item-inner .rep-photo-container .icon-wrapper,
.page.food-bank .message-list .rep-container .message-item-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .message-list .rep-container .rep-inner .icon-container .icon-wrapper,
.page.food-bank .message-list .rep-container .rep-inner .icon-container .rep-photo-wrapper,
.page.food-bank .message-list .rep-container .rep-inner .rep-photo-container .icon-wrapper,
.page.food-bank .message-list .rep-container .rep-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .rep-list .message-item-container .message-item-inner .icon-container .icon-wrapper,
.page.food-bank .rep-list .message-item-container .message-item-inner .icon-container .rep-photo-wrapper,
.page.food-bank .rep-list .message-item-container .message-item-inner .rep-photo-container .icon-wrapper,
.page.food-bank .rep-list .message-item-container .message-item-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .rep-list .message-item-container .rep-inner .icon-container .icon-wrapper,
.page.food-bank .rep-list .message-item-container .rep-inner .icon-container .rep-photo-wrapper,
.page.food-bank .rep-list .message-item-container .rep-inner .rep-photo-container .icon-wrapper,
.page.food-bank .rep-list .message-item-container .rep-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .rep-list .rep-container .message-item-inner .icon-container .icon-wrapper,
.page.food-bank .rep-list .rep-container .message-item-inner .icon-container .rep-photo-wrapper,
.page.food-bank .rep-list .rep-container .message-item-inner .rep-photo-container .icon-wrapper,
.page.food-bank .rep-list .rep-container .message-item-inner .rep-photo-container .rep-photo-wrapper,
.page.food-bank .rep-list .rep-container .rep-inner .icon-container .icon-wrapper,
.page.food-bank .rep-list .rep-container .rep-inner .icon-container .rep-photo-wrapper,
.page.food-bank .rep-list .rep-container .rep-inner .rep-photo-container .icon-wrapper,
.page.food-bank .rep-list .rep-container .rep-inner .rep-photo-container .rep-photo-wrapper {
  padding: 0;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.page.food-bank .message-list .message-item-container .message-item-inner .icon-container .icon-wrapper img,
.page.food-bank .message-list .message-item-container .message-item-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .message-list .message-item-container .message-item-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .message-list .message-item-container .message-item-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .message-list .message-item-container .rep-inner .icon-container .icon-wrapper img,
.page.food-bank .message-list .message-item-container .rep-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .message-list .message-item-container .rep-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .message-list .message-item-container .rep-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .message-list .rep-container .message-item-inner .icon-container .icon-wrapper img,
.page.food-bank .message-list .rep-container .message-item-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .message-list .rep-container .message-item-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .message-list .rep-container .message-item-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .message-list .rep-container .rep-inner .icon-container .icon-wrapper img,
.page.food-bank .message-list .rep-container .rep-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .message-list .rep-container .rep-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .message-list .rep-container .rep-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .rep-list .message-item-container .message-item-inner .icon-container .icon-wrapper img,
.page.food-bank .rep-list .message-item-container .message-item-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .rep-list .message-item-container .message-item-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .rep-list .message-item-container .message-item-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .rep-list .message-item-container .rep-inner .icon-container .icon-wrapper img,
.page.food-bank .rep-list .message-item-container .rep-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .rep-list .message-item-container .rep-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .rep-list .message-item-container .rep-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .rep-list .rep-container .message-item-inner .icon-container .icon-wrapper img,
.page.food-bank .rep-list .rep-container .message-item-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .rep-list .rep-container .message-item-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .rep-list .rep-container .message-item-inner .rep-photo-container .rep-photo-wrapper img,
.page.food-bank .rep-list .rep-container .rep-inner .icon-container .icon-wrapper img,
.page.food-bank .rep-list .rep-container .rep-inner .icon-container .rep-photo-wrapper img,
.page.food-bank .rep-list .rep-container .rep-inner .rep-photo-container .icon-wrapper img,
.page.food-bank .rep-list .rep-container .rep-inner .rep-photo-container .rep-photo-wrapper img {
  width: 90%;
}

.page.food-bank .rep-inner {
  background-color: #fff;
}

.page.food-bank .rep-inner .col-xs-4:first-child {
  padding: 0;
}

.page.food-bank .rep-inner img {
  max-width: 100%;
  padding: 0px 0 20px;
}


